#app-header {
  padding: 45px 0;
  background-color: rgba(0, 0, 0, 0.1);

  .title,
  .subtitle {
    margin: 0;
  }
}

#app-content {
  padding: 20px;

  .column {
    padding: 20px;
  }
}

#app-sidebar-left {
  .title {
    margin-bottom: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid #000000;
  }
}

#app-footer {
  padding: 10px;
  margin: auto 0;
  background-color: rgba(0, 0, 0, 0.1);
}

/* ---- THEME ----- */
#stepper-progress {
  background-color: #E4E4E4;
}

#user-case {
  margin: 12px 0;
  font-size: 12px;

  * {
    display: block;
  }

  strong {
    font-weight: 900;
  }
}

#selecteur-departement {
  top: 12px;
  right: 12px;
  height: 24px;
  font-weight: 900;
  padding: 6px 12px;
  position: absolute;
  border-radius: 12px;
  background-color: #01BCD5;
  color: rgba(0, 0, 0, 0.5);

  .icon {
    margin-left: 12px;
  }
}

/* ------------------------------------------------------------

RESPONSIVE

------------------------------------------------------------ */

@media (max-width: 870px) {
  #app-header {
    padding: 20px 0;
  }

  #stepper-progress {
    display: none !important;
    visibility: hidden !important;
  }

  #app-content {
    flex-direction: column-reverse;

    .column ~ .column {
      margin-top: 0;
      margin-left: 0;
    }
  }
}
