$flexs: (
  0,
  1,
  2,
  3,
  4,
  5
);

@each $flex in $flexs {
  .flex-#{$flex} {
    flex: #{$flex};
    display: flex;
  }
}

/* --------------------------------------------

 FLEX Alignments

-------------------------------------------- */

.flex-columns {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.flex-rows {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-reverse {
  &.flex-columns {
    flex-direction: row-reverse;
  }

  &.flex-rows {
    flex-direction: column-reverse;
  }
}

$wraps: (
  wrap,
  nowrap,
  wrap-reverse
);

@each $wrap in $wraps {
  .flex-#{$wrap} {
    flex-wrap: $wrap;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

$types: (
  items: align-items,
  flex: justify-content,
  content: align-content
);

@each $key, $value in $types {
  .#{$key}-end {
    #{$value}: flex-end;
  }

  .#{$key}-start {
    #{$value}: flex-start;
  }

  .#{$key}-center {
    #{$value}: flex-center;
  }
}

$spaces: (
  evenly,
  around,
  between
);

@each $space in $spaces {
  .flex-#{$space} {
    justify-content: space-#{$space};
  }
}

.items-stretch {
  align-items: stretch;
}

.items-baseline {
  align-items: baseline;
}

.content-stretch {
  align-content: stretch;
}

.content-around {
  align-content: around;
}

.content-between {
  align-content: between;
}
