@import './static/leaflet/leaflet.css';
@import './static/fontello/css/animation.css';
@import './static/fontello/css/fontello-embedded.css';

// SCSS Files
@import './_base.scss';
@import './_form.scss';
@import './_grid.scss';
@import './_margins.scss';

$header0: #14134E;
$header1: #512D5A;
$header2: #843B61;

$grey: #F7F8FA;
$gray: #E4E8EE;
$white: #FFFFFF;
$black: #000000;

$note: #FFF4CD;
$note-color: #856405;
$note-border: #FFEEBA;

$blue: #3B99FC;
$blue-dark: #3B99FC;
$blue-light: #61AFEF;

$level-alert-0: #4CB85E;
$level-alert-1: #FFD802;
$level-alert-2: #F2930E;
$level-alert-3: #CC0000;
$level-alert-4: #910AD7;

// application
@import './layouts/z-index.scss';
@import './layouts/theme.scss';
@import './layouts/form.scss';
@import './layouts/base.scss';

// @import './layouts/tippy.scss';

// map
// @import './layouts/map.scss';
// @import './layouts/map-marker.scss';

// responsive
@import './layouts/responsive.scss';
