# If set explicitly to false, then installing as a non-root user will fail
unsafe-perm=true

# Non flatten node_modules folder hierarchy
global-style=true

# Use npm-shrinkwrap.json to freeze modules version at install
shrinkwrap=true

# Display a progress bar during time intensive operations
progress=false

# Tag the commit when using the npm version command
git-tag-version=true

# Git's tag name prefix: v2.10.3
tag-version-prefix=v

# Defaults values for 'npm init'
init-license=MIT
init-version=0.1.0
