.datatable {
  width: 100%;
  display: block;
  overflow: auto;
}

.datatable table .actions {
  padding: 7px;
  text-align: center;
}

.datatable table caption {
  padding: 12px;
}

/* .datatable table .small {
  width: 70px;
  max-width: 70px;
}

.datatable table .medium {
  width: 120px;
  max-width: 120px;
}

.datatable table .large {
  width: 200px;
  max-width: 200px;
} */

.datatable table .actions button ~ button {
  margin-left: 5px;
}

.datatable table .actions-1 {
  width: 8px;
}

.datatable table .actions-2 {
  width: 8px;
}

.datatable table .actions-3 {
  width: 10px;
}

.datatable table .actions-4 {
  width: 10px;
}
