
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-water:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e802'; } /* '' */
.icon-air:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */