// BUBBLE SPEECH
// -----
// @source: https://leaverou.github.io/bubbly/
//
// Usage
// -----
// .speech-bubble-{top,bottom,left,right}
// + optionnal arrow design .speech-{io,oi}
//
$speech-bubble-size: 1rem;
$speech-bubble-color: #FFFFFF;
$speech-bubble-radius: 0.3rem;

.speech-bubble {
  position: relative;
  background: $speech-bubble-color;
  border-radius: $speech-bubble-radius;
}

.speech-bubble::after {
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-width: $speech-bubble-size;
}

$sides: (
  top,
  left,
  right,
  bottom
);

@each $side in $sides {
  .speech-bubble.speech-#{$side}::after {
    @if ($side == 'top') or ($side == 'bottom') {
      left: 50%;
      margin-left: -$speech-bubble-size;

      /* ----- colors ----- */
      @if ($side == 'top') {
        border-bottom-color: $speech-bubble-color;
      }

      @else if ($side == 'bottom') {
        border-top-color: $speech-bubble-color;
      }
    }

    @else if ($side == 'left') or ($side == 'right') {
      top: 50%;
      margin-top: -$speech-bubble-size;

      /* ----- colors ----- */
      @if ($side == 'left') {
        border-right-color: $speech-bubble-color;
      }

      @else if ($side == 'right') {
        border-left-color: $speech-bubble-color;
      }
    }

    #{$side}: 0;
    border-#{$side}: 0;
    margin-#{$side}: -$speech-bubble-size;
  }

  /* ----- arrow options ----- */

  @if ($side == 'top') or ($side == 'bottom') {
    .speech-bubble.speech-#{$side}.speech-io::after {
      border-right: 0;
    }

    .speech-bubble.speech-#{$side}.speech-oi::after {
      border-left: 0;
    }
  }

  @else if ($side == 'left') or ($side == 'right') {
    .speech-bubble.speech-#{$side}.speech-io::after {
      border-bottom: 0;
    }

    .speech-bubble.speech-#{$side}.speech-oi::after {
      border-top: 0;
    }
  }
}
