.tagvalues {
  border: 0;
  padding: 0 12px 12px 12px;
}

.tagvalues input {
  flex: 1;
}

.tagvalues input:disabled {
  border: 0;
}

.tagvalues button {
  flex: 0;
  min-width: 42px;
  margin-left: 12px;
}

.tagvalues .primary {
  flex: 1;
  max-width: 100px;
}

.tagvalues .tag {
  margin: 0;
  font-size: 1.1em;
  border-radius: 2px;
  margin-right: 12px;
  margin-bottom: 12px;
  transition: all 0.5s;
  padding: 7px 3px 7px 7px;
}
