.tagvalues {
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  padding: 0 12px 12px 12px;
}

.tagvalues input {
  flex: 1;
}

.tagvalues input:disabled {
  border: 0;
}

.tagvalues button {
  flex: 0;
  min-width: 42px;
  margin-left: 12px;
}

.tagvalues .button-add {
  flex: 1;
  max-width: 100px;
}

.tagvalues .tag {
  margin: 0;
  font-size: 1.1em;
  padding: 7px 12px;
  border-radius: 4px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #CCCCCC;
}

.tagvalues .tag:hover {
  background-color: #FB1166;
}
