#app-popin,
#app-popin-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

#app-popin-overlay {
  content: '';
  background-color: rgba(0, 0, 0, 0.75);
}

#app-popin-holder,
#app-popin-content {
  width: 100%;
  height: 100%;
  position: relative;
}

#app-popin-controls {
  top: 12px;
  right: 12px;
  position: absolute;
}

#app-popin-controls button {
  width: 40px;
  height: 40px;
}

#app-popin-content {
  display: flex;
}

.popin-inner {
  margin: auto;
  border-radius: 4px;
  position: relative;
  background-color: #FFFFFF;
}

/* -----------------------------------

 POPINS

----------------------------------- */

#delete-popin {
  padding: 40px;
  font-size: 1.3em;
}

#delete-popin button {
  font-size: 1em;
}
