.leaflet-map-controls {
  right: 12px;
  bottom: 12px;
  position: absolute;
}

/* <!-- Deplace les liens de copyright des layers en bas de la carte --> */
.leaflet-bottom.leaflet-right {
  right: inherit;
}

.leaflet-control-attribution {
  opacity: 0.2;
  float: inherit;
  font-size: 0.8em;
  background-color: transparent;
}

.leaflet-control-attribution a,
.leaflet-control-attribution a:hover {
  color: #000000;
}

/* ----------------------------------------------------

 MAP MARKER

---------------------------------------------------- */

.geojson-layer {
  fill: $white;
  opacity: 0.3;
  stroke: #B7B7B7;
  stroke-width: 1;
  transition: all 0.5s;

  &.department {
    opacity: 1;
    fill: $blue;
  }

  &.normale {
    // $level-alert-0
    fill: $level-alert-0;
    stroke: $level-alert-0;
  }

  &.vigilance {
    // $level-alert-1
    fill: $level-alert-1;
    stroke: $level-alert-1;
  }

  &.alerte {
    // $level-alert-2
    fill: $level-alert-2;
    stroke: $level-alert-2;
  }

  &.alerte-renforcee {
    // $level-alert-3
    fill: $level-alert-3;
    stroke: $level-alert-3;
  }

  &.crise {
    // $level-alert-4
    fill: $level-alert-4;
    stroke: $level-alert-4;
  }

  &:hover {
    opacity: 0.65;
  }

  &.active {
    opacity: 0.8;
  }
}

/* ----------------------------------------------------

 MAP MARKER

---------------------------------------------------- */

.leaflet-marker-divicon {
  position: relative;
}

.leaflet-marker-divicon-container {
  top: -10px;
  position: absolute;
}

.leaflet-marker-divicon-inner {
  position: relative;
}

.leaflet-marker-divicon-pin {
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  margin: 0 0 0 0;
  position: absolute;
  transform: rotate(-45deg);
  border-radius: 50% 50% 50% 0;
  animation-name: bounce;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.leaflet-marker-divicon-pin::after {
  width: 6px;
  height: 6px;
  content: '';
  border-radius: 50%;
  position: absolute;
  margin: 3px 0 0 3px;
}

.leaflet-marker-divicon-pulse {
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  margin: 14px 0 0 1px;
  transform: rotateX(55deg);
}

.leaflet-marker-divicon-pulse::after {
  opacity: 0;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  margin: -5px 0 0 -5px;
  animation: pulsate 1s ease-out;
  animation-delay: 1.1s;
  animation-iteration-count: infinite;
}

@keyframes pulsate {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
  }

  50% {
    opacity: 1;
    filter: none;
  }

  100% {
    opacity: 0;
    transform: scale(1.2, 1.2);
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    filter: none;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}
