
.icon-down-open-big:before { content: '\e800'; } /* '' */
.icon-water:before { content: '\e801'; } /* '' */
.icon-droplet:before { content: '\e802'; } /* '' */
.icon-air:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-thumbs-up:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-docs:before { content: '\e809'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */