.bt {
  border-top-width: 1px;
  border-top-style: solid;
}

.bb {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.by {
  @extend .bt;
  @extend .bb;
}

/* --------------------------------------------

 BORDER RADIUS

-------------------------------------------- */
.br0 {
  border-radius: 0;
}

.br2 {
  border-radius: 2px;
}

.br4 {
  border-radius: 4px;
}

.br12 {
  border-radius: 12px;
}

.br20 {
  border-radius: 20px;
}

.br50 {
  border-radius: 50%;
}
