.flex0 {
  flex: 0;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

/* --------------------------------------------

 COLUMNS

-------------------------------------------- */

.col100 {
  flex: 1;
  min-width: 100%;
}

.col50 {
  flex: 1;
  min-width: 48%;
}

.col0 {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 0;
}
