.flex0 {
  flex: 0;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

/* --------------------------------------------

 COLUMNS

-------------------------------------------- */

.col100 {
  flex: 1;
  min-width: 100%;
}

.col50 {
  flex: 1;
  min-width: 48%;
}

.col0 {
  flex: 1;
  width: 0;
  min-width: 0;
  max-width: 0;
}

/* --------------------------------------------

 WRAPS

-------------------------------------------- */

.wrap3 > *,
.wrap2 > *,
.wrap4 > *,
.wrap5 > * {
  @extend .mb12;

  flex: 0 0 auto;
}

.wrap2 > * {
  width: 50%;
}

.wrap3 > * {
  width: 33.333333%;
}

.wrap4 > * {
  width: 25%;
}

.wrap5 > * {
  width: 12.5%;
}
