$spaces: (
  0,
  12,
  20,
  40
);

$sides: (
  all,
  topbottom,
  leftright,
  top,
  left,
  right,
  bottom
);

@each $space in $spaces {
  @each $side in $sides {
    @if $side == 'all' {
      .m#{$space} {
        margin: #{$space}px;
      }

      .p#{$space} {
        padding: #{$space}px;
      }
    }

    @else if $side == 'topbottom' {
      .my#{$space} {
        margin: #{$space}px;
      }

      .py#{$space} {
        padding: #{$space}px;
      }
    }

    @else if $side == 'leftright' {
      .mx#{$space} {
        margin: #{$space}px;
      }

      .px#{$space} {
        padding: #{$space}px;
      }
    }

    @else {
      .m#{str-slice($side, 0, 1)}#{$space} {
        margin-#{$side}: #{$space}px;
      }

      .p#{str-slice($side, 0, 1)}#{$space} {
        padding-#{$side}: #{$space}px;
      }
    }
  }
}
