.pb12 {
  padding-bottom: 12px;
}

.pt12 {
  padding-top: 12px;
}

.pl12 {
  padding-left: 12px;
}

.pr12 {
  padding-right: 12px;
}

.px12 {
  @extend .pr12;
  @extend .pl12;
}

.py12 {
  @extend .pt12;
  @extend .pb12;
}

.p7 {
  padding: 7px;
}

.p12 {
  padding: 12px;
}

.p20 {
  padding: 20px;
}
