table {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font-size: 12px;
  text-align: left;
  border-spacing: 0;
  overflow-x: scroll;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  font-weight: bold;
}

th,
td {
  width: 1px;
  max-width: 0;
  overflow: hidden;
  padding: 12px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th:last-child,
td:last-child {
  border-right: 0;
}

.small {
  width: 70px;
  max-width: 70px;
  text-align: center;
}

.medium {
  width: 200px;
  max-width: 200px;
}

table .small button {
  @extend .p7;

  width: auto;
}
