table {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  font-size: 12px;
  text-align: left;
  border-spacing: 0;
  border-collapse: separate;
}

th {
  font-weight: bold;
}

th,
td {
  overflow: hidden;
  padding: 12px 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th:last-child,
td:last-child {
  border-right: 0;
}

.small {
  width: 70px;
  max-width: 70px;
  text-align: center;
}

.small .button {
  width: auto;
  padding: 7px;
}

.medium {
  width: 200px;
  max-width: 200px;
}
