@import './leaflet/leaflet.css';
@import './fontello/css/fontello-embedded.css';

// SCSS Files
@import 'base';
@import 'form';
@import 'grid';
@import 'table';

body {
  font-size: 12px;
  background-color: #F1F1F1;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

// application
#root,
#app-container {
  min-height: 100vh;
}

@import './modules/form.scss';
@import './modules/theme.scss';
