.datatable {
  width: 100%;
  display: block;
}

.datatable table .order,
.datatable table .expands,
.datatable table .actions {
  padding: 7px;
  text-align: center;
}

.datatable table .actions button ~ button {
  margin-left: 5px;
}

.datatable table .expands,
.datatable table .bulkable {
  width: 3px;
}

.datatable table .order {
  width: 5px;
}

.datatable table .actions-1 {
  width: 8px;
}

.datatable table .actions-2 {
  width: 8px;
}

.datatable table .actions-3 {
  width: 10px;
}

.datatable table .actions-4 {
  width: 10px;
}
