::placeholder {
  opacity: 0.35;
  font-size: 0.85em;
}

body {
  line-height: 1.5em;
}

body,
input,
button,
textarea {
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

figure.large {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  border: 12px solid #F7F8FA;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;

  img,
  img.portrait {
    width: 100%;
    height: auto;
  }

  img.paysage {
    width: auto;
    height: 100%;
  }
}

/* -----------------------------------------------

 CLASSES

----------------------------------------------- */

.padded {
  padding-left: 5%;
  padding-right: 5%;
}

.liner {
  height: 1px;
  max-width: 37%;
  min-height: 1px;
}

/* -----------------------------------------------

 COMPONENTS

----------------------------------------------- */

.newsletter-form {
  .field {
    width: auto;
    font-size: 14px;
    overflow: hidden;
    min-width: 300px;
    border-radius: 12px 0 0 12px;
  }

  button {
    border: 0;
    width: 150px;
    height: 100%;
    font-size: 14px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 0 12px 12px 0;
  }

  button .icon {
    font-size: 1.1em;
  }
}

.demo-button {
  @extend .py12;
  @extend .px24;

  font-size: 1.3em;
  border-radius: 4px;
  text-decoration: none;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  &.small {
    font-size: 0.8em;
    padding: 3px 20px;
  }
}

.lame {
  @extend .mt120;

  .description {
    font-size: 1.3em;
    line-height: 1.5em;
  }
}

.person {
  figure {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
  }

  img {
    width: auto;
    height: 100%;
  }

  b ~ span {
    font-size: 0.8em;
  }

  blockquote {
    font-size: 1.1em;
  }

  a {
    padding: 3px;
    font-size: 0.65em;
    border-radius: 2px;
  }
}

.person.testimonial {
  blockquote {
    font-size: 1.4em;
  }
}

.copy-to-clipboard {
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: 0.8em;
  margin-left: 12px;
  border-width: 1px;
  border-radius: 50%;
  background-color: transparent;
}

/* -----------------------------------------------

 LAYOUTS

----------------------------------------------- */
#toaster {
  @extend .align-center;

  left: 0;
  right: 0;
  height: 45px;
  bottom: -45px;
  position: fixed;
  line-height: 45px;
  transition-duration: 0.5s;
  transition-property: color, bottom, background-color;

  &.toaster-error,
  &.toaster-success,
  &.toaster-warning {
    bottom: 0;
  }

  .relative {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }

  button {
    top: 15px;
    right: 20px;
    position: absolute;
  }
}

#site-container {
  width: 100%;
  min-width: 100%;
}

#top-container {
  height: 100vh;
  // min-height 550px si on enleve le button pour acceder à la démo
  min-height: 560px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  // photoby Dominik Martin on Unsplash
  // https://unsplash.com/photos/YuVzPOBuuf0
  background-image: url('/static/dominik-martin-675-unsplash.jpg');
}

#main-navigation {
  $time: 0.5s;

  left: 0;
  right: 0;
  width: 100%;
  position: fixed;
  transition-duration: $time;
  background-color: transparent;
  transition-property: background-color, padding;

  .col-right {
    overflow: hidden;

    nav {
      transition: margin-right $time;
    }
  }

  nav a {
    @extend .py3;
    @extend .px12;

    opacity: 0.5;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: 100;
    user-select: none;
    text-decoration: none;
    transition-duration: 0.5s;
    transition-property: color, background-color;

    &:hover,
    &.active {
      opacity: 1;
      text-decoration: underline;
    }
  }

  .col-left img {
    transition: height 0.5s;
  }

  &.mobile,
  &.issticky {
    @extend .pb20;
  }

  &.mobile .col-left img,
  &.issticky .col-left img {
    height: 40px;
  }

  &.mobile .col-left img + img,
  &.issticky .col-left img + img {
    height: 25px;
  }
}

#hero-container {
  .logo {
    @extend .mb20;

    font-size: 4.5em;
    line-height: 1.1em;
    letter-spacing: 0.4em;

    img {
      height: auto;
      width: 100px;
      max-width: 100px;
    }

    span {
      display: block;
    }

    small {
      font-size: 0.2em;
      padding: 3px 12px;
      border-radius: 2px;
      margin-left: -40px;
      letter-spacing: 0.1em;
    }
  }

  .baseline {
    @extend .mb20;

    font-size: 2.2em;
    line-height: 1.43em;
    font-weight: lighter;
    letter-spacing: 0.05em;
  }

  .baseline strong {
    padding: 0 7px;
    box-decoration-break: clone;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .notice {
    font-size: 1.15em;
    font-style: italic;
  }

  .more {
    opacity: 0.75;
    font-size: 4em;
  }
}

#nos-sponsors .calltoaction {
  border: 0;
  font-size: 1.1em;
  line-height: 65px;
  text-transform: uppercase;
  background-color: transparent;
}

#comment-nous-contacter .col-right {
  font-size: 1.5em;
  line-height: 1.25em;

  .list {
    font-size: 0.9em;
  }
}

#widget-demo {
  @extend .p40;

  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
}

#main-footer {
  font-size: 0.8em;
}

#main-footer a {
  text-decoration: underline;
}

#demo-popup {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;

  .overlay,
  .container {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    transition-duration: 0.5s;
    transition-property: opacity;
  }

  .overlay {
    background-color: rgba(0, 0, 0, 0.65);
  }

  .container {
    display: flex;
    align-items: center;
    transition-delay: 0.5s;
    justify-content: center;
  }

  .inner {
    @extend .p20;

    width: 80%;
    height: 80%;
    position: relative;
    border-radius: 4px;
    box-sizing: content-box;
    background-color: #FFFFFF;
  }

  .close-popup-button {
    right: 0;
    top: -20px;
    position: absolute;
    background: transparent;
  }
}
