::placeholder {
  opacity: 0.35;
  font-size: 0.85em;
}

body {
  line-height: 1.5em;
}

body,
input,
button,
textarea {
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

/* -----------------------------------------------

 CLASSES

----------------------------------------------- */

.padded {
  padding-left: 5%;
  padding-right: 5%;
}

.liner {
  height: 1px;
  max-width: 37%;
  min-height: 1px;
}

/* -----------------------------------------------

 COMPONENTS

----------------------------------------------- */

.newsletter-form {
  .field {
    width: auto;
    font-size: 14px;
    overflow: hidden;
    min-width: 300px;
    border-radius: 12px 0 0 12px;
  }

  button {
    border: 0;
    width: 150px;
    height: 100%;
    font-size: 14px;
    min-width: 150px;
    max-width: 150px;
    border-radius: 0 12px 12px 0;
  }

  button .icon {
    font-size: 1.1em;
  }
}

.big-badge {
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  font-size: 5em;
  line-height: 2em;
  background-color: #FFFFFF;
}

.demo-button {
  @extend .py5;
  @extend .px12;

  font-size: 0.8em;
  border-radius: 4px;
  text-decoration: none;

  &.large {
    @extend .py12;

    padding-left: 24px;
    padding-right: 18px;
    font-size: 1.3em;
  }
}

.lame {
  @extend .mt120;

  .description {
    font-size: 1.3em;
    line-height: 1.8em;
  }
}

.person {
  figure {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
  }

  img {
    height: 100%;
    width: auto;
  }

  b ~ span {
    font-size: 0.8em;
  }

  blockquote {
    font-size: 1.1em;
  }

  a {
    padding: 3px;
    font-size: 0.65em;
    border-radius: 2px;
  }
}

.person.testimonial {
  blockquote {
    font-size: 1.4em;
  }
}

/* -----------------------------------------------

 LAYOUTS

----------------------------------------------- */
#toaster {
  @extend .align-center;

  left: 0;
  right: 0;
  height: 45px;
  bottom: -45px;
  position: fixed;
  line-height: 45px;
  transition-duration: 0.5s;
  transition-property: color, bottom, background-color;

  &.toaster-error,
  &.toaster-success,
  &.toaster-warning {
    bottom: 0;
  }

  .relative {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
  }

  button {
    top: 15px;
    right: 20px;
    position: absolute;
  }
}

#site-container {
  width: 100%;
  min-width: 100%;
}

#top-container {
  height: 100vh;
  // min-height 550px si on enleve le button pour acceder à la démo
  min-height: 560px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body:not(.unsubscribe-page) #top-container {
  // Photo by Dominik Martin on Unsplash
  background-image: url('https://source.unsplash.com/YuVzPOBuuf0');
}

#main-navigation {
  $time: 0.5s;

  z-index: 99999;
  transition-duration: $time;
  background-color: transparent;
  transition-property: background-color, padding;

  .col-right {
    overflow: hidden;

    nav {
      transition: margin-right $time;
    }
  }

  nav a {
    @extend .py3;
    @extend .px12;

    cursor: pointer;
    user-select: none;
    text-decoration: none;
    transition-duration: 0.5s;
    transition-property: color, background-color;

    &::before {
      content: '/';
      padding-right: 5px;
    }
  }

  .demo-button {
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }
}

#hero-container {
  .logo {
    @extend .mb20;

    font-size: 4.5em;
    line-height: 1.1em;
    letter-spacing: 0.4em;

    img {
      height: auto;
      width: 100px;
      max-width: 100px;
    }

    span {
      display: block;
    }
  }

  .baseline {
    @extend .mb20;

    font-size: 2.2em;
    line-height: 1.43em;
    font-weight: lighter;
    letter-spacing: 0.05em;
  }

  .baseline strong {
    padding: 0 7px;
    box-decoration-break: clone;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .notice {
    font-size: 1.15em;
    font-style: italic;
  }

  .more {
    opacity: 0.75;
    font-size: 4em;
  }
}

#nos-sponsors .dashed {
  font-size: 1.1em;
  border-width: 1px;
  border-radius: 20px;
  border-style: dashed;
  border-color: transparent;
  text-transform: uppercase;
  background-color: transparent;
  // 2px represente les 2px pixels des bordures
  line-height: calc(65px - 2px);
}

#comment-nous-contacter .col-right {
  font-size: 1.5em;
  line-height: 1.25em;

  .list {
    font-size: 0.9em;
  }
}

#main-footer {
  font-size: 0.8em;
}

#main-footer a {
  text-decoration: underline;
}
