$grey: #F7F8FA;
$gray: #E4E8EE;
$white: #FFFFFF;
$green-0: #89C541;
$red-0: #CC0000;
$yellow-0: #FFD802;
$yellow-1: #FFE58F;

$black: #000000;
$dark: $black;
$dark-disabled: #CCCCCC;

$blue: #427ABD;
$blueActive: #006AAC;
$blueDisabled: #94C2EE;

$color: #1B2734;
$color-active: #1B2734;
$color-disabled: #A8B0B8;

$purple-0: #14134E;
$purple-1: #512D5A;
$purple-2: #843B61;

body,
input,
button,
textarea {
  color: $color;
  font-size: 12px;
  font-weight: lighter;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  color: $white;
  background-color: $blue;
  transition: background-color 0.5s;

  &:disabled {
    background-color: $blueDisabled;
  }

  &:hover {
    background-color: $blueActive;
  }
}

.red {
  color: $red-0;
}

.rainbow {
  /* stylelint-disable */
  background-image: linear-gradient(
    312deg,
    $purple-0,
    $purple-1 68%,
    $purple-2
  );
  /* stylelint-enable */
}

.shadowed {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1), 0 8px 40px rgba(0, 0, 0, 0.1);
}

.liner {
  border-left: 30px solid $blue;
  background-color: rgba(255, 255, 255, 0.35);
}

.newsletter-form .field {
  background-color: $white;
}

.demo-button {
  color: $white;
  border: 1px solid $purple-0;
  background-color: $purple-2;

  &.large {
    @extend .rainbow;

    /* stylelint-disable */
    box-shadow: 0 6px 0 $purple-0, 0 3px 15px rgba(0, 0, 0, 0.4),
      inset 0 1px 0 $purple-2, inset 0 0 3px $purple-2;
    /* stylelint-enable */
  }
}

.person.testimonial {
  .person-infos {
    color: $dark-disabled;
  }
}

.copy-to-clipboard {
  color: $dark-disabled;
  transition: color 0.5s;

  &:hover {
    color: $color;
    background-color: transparent;
  }
}

span.error {
  color: $red-0;
}

.error-tooltip {
  color: $white;
  background-color: $red-0;
}

#toaster {
  button {
    background-color: $white;
  }

  &.toaster-error {
    color: $white;
    background-color: $red-0;

    button {
      color: $red-0;
    }
  }

  &.toaster-warning {
    color: $white;
    background-color: $yellow-0;

    button {
      color: $yellow-0;
    }
  }

  &.toaster-success {
    color: $white;
    background-color: $green-0;

    button {
      color: $green-0;
    }
  }
}

#site-container > .liner {
  height: 5px;
}

#main-navigation {
  &.issticky {
    background-color: rgba(0, 0, 0, 0.85);
  }

  a {
    color: $white;
    transition: color 0.5s;
  }

  a.active {
    color: $purple-2;
    background-color: $white;
  }
}

#hero-container {
  color: $white;

  small {
    color: $white;
    background-color: #89C541;
  }
}

#nos-sponsors .dashed {
  opacity: 0.45;
  color: $dark-disabled;
  transition: opacity 0.5s;
  border-color: $dark-disabled;

  &:hover {
    opacity: 1;
  }
}

#qui-sommes-nous {
  background-color: $grey;

  .person {
    figure {
      border: 3px solid $white;
    }

    blockquote {
      color: $dark-disabled;
    }
  }
}

#main-footer {
  @extend .rainbow;

  color: $white;
}

/* ----- LINKS ----- */

#main-footer a {
  color: $white;
}

#qui-sommes-nous .person a {
  color: $white;
  background-color: $purple-0;
}
