$red: #F52833;
$grey: #F7F8FA;
$gray: #E4E8EE;
$white: #FFFFFF;

$black: #000000;
$dark: $black;
$dark-disabled: #CCCCCC;

$blue: #427ABD;
$blueActive: #006AAC;
$blueDisabled: #94C2EE;

$color: #1B2734;
$color-active: #1B2734;
$color-disabled: #A8B0B8;

$purple-0: #14134E;
$purple-1: #512D5A;
$purple-2: #843B61;

body,
input,
button,
textarea {
  color: $color;
  font-size: 12px;
  font-weight: lighter;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button {
  color: $white;
  background-color: $blue;
  transition: background-color 0.5s;

  &:disabled {
    background-color: $blueDisabled;
  }

  &:hover {
    background-color: $blueActive;
  }
}

.red {
  color: $red;
}

.rainbow {
  /* stylelint-disable */
  background-image: linear-gradient(
    312deg,
    $purple-0,
    $purple-1 68%,
    $purple-2
  );
  /* stylelint-enable */
}

.shadowed {
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1), 0 8px 40px rgba(0, 0, 0, 0.1);
}

.liner {
  border-left: 30px solid $blue;
  background-color: rgba(255, 255, 255, 0.35);
}

.newsletter-form .field {
  background-color: $white;
}

.demo-button {
  color: $white;
  border: 1px solid $purple-0;
  background-color: $purple-2;

  &.large {
    @extend .rainbow;

    /* stylelint-disable */
    box-shadow: 0 6px 0 $purple-0, 0 3px 15px rgba(0, 0, 0, 0.4),
      inset 0 1px 0 $purple-2, inset 0 0 3px $purple-2;
    /* stylelint-enable */
  }
}

.person.testimonial {
  .person-infos {
    color: $dark-disabled;
  }
}

span.error {
  color: $red;
}

.error-tooltip {
  color: $white;
  background-color: $red;
}

#application-toaster {
  &.type-error {
    color: $white;
    background-color: $red;
  }

  &.type-warning {
    color: $white;
    background-color: $red;
  }

  &.type-success {
    color: $white;
    background-color: $red;
  }
}

#site-container > .liner {
  height: 5px;
}

#main-navigation {
  &.issticky {
    @extend .rainbow;
  }

  a {
    color: $white;
    transition: color 0.5s;
  }

  a.active {
    color: $purple-2;
    background-color: $white;
  }
}

#hero-container {
  color: $white;
}

#nos-sponsors .dashed {
  opacity: 0.45;
  color: $dark-disabled;
  transition: opacity 0.5s;
  border-color: $dark-disabled;

  &:hover {
    opacity: 1;
  }
}

#qui-sommes-nous {
  background-color: $grey;

  .person {
    figure {
      border: 3px solid $white;
    }

    blockquote {
      color: $dark-disabled;
    }

    a {
      color: $white;
      background-color: $purple-0;
    }
  }
}

#main-footer {
  @extend .rainbow;

  color: $white;

  a {
    color: $white;
  }
}
