.flex0 {
  flex: 0;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

/* ----- MARGIN ----- */

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.my20 {
  @extend .mt20;
  @extend .mb20;
}
