$headerHeight: 105px;

::placeholder {
  font-size: 0.8em;
}

body {
  font-weight: 300;
}

span + .icon,
.icon + span {
  margin-left: 7px;
}

.page-content {
  @extend .p20;
}

.tinyerror,
.tinyloader {
  @extend .p12;
  @extend .my12;

  border-radius: 4px;

  span ~ span {
    @extend .ml7;
  }
}

.notice {
  @extend .p20;
  @extend .align-center;

  &.large {
    @extend .p40;
  }
}

/* ------------------------------------------------

 LAYOUTS

------------------------------------------------ */
#root {
  min-height: 100vh;
}

#body-scroller {
  height: 100vh !important;
  background-color: #E8E8E8;
}

#body-scroller-content {
  @extend .flex-rows;

  min-height: 100%;
  margin-right: 10px;
  background-color: #FFFFFF;
  border-right: 1px solid #E7E7E7;
}

#page-container {
  margin-left: 45px;
  transition: margin-left 0.5s;
}

#page-container.opened {
  margin-left: 160px;
}

#application-header {
  height: $headerHeight;
  max-height: $headerHeight;
  min-height: $headerHeight;
  padding: 20px 20px 20px 70px;

  em {
    font-style: normal;
  }

  button {
    font-size: 1.3em;
    border-radius: 0;
    background-color: transparent;
  }
}

#application-header .title {
  font-weight: normal;

  span {
    font-size: 1.2em;
    letter-spacing: 0.4em;
  }

  small {
    font-size: 0.15em;
    padding: 3px 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  > small {
    display: block;
    font-size: 0.3em;
  }
}

#application-header .user span,
#application-header .user small {
  display: block;
}

#application-header .title > span small {
  border-radius: 2px;
}

#application-footer {
  flex: 0 0 auto;
  font-size: 0.7em;
}

#user-logout-button {
  font-size: 2em;
}

#page-title {
  .badge {
    font-size: 0.6em;
  }
}

#page-column-header {
  @extend .mb20;
}

#page-column-footer {
  @extend .mt20;
}

#page-main-column {
  flex: 1;
}

#page-aside-column:not(.col50) {
  flex: 0;
  min-width: 320px;
}

#page-main-column + #page-aside-column {
  @extend .ml20;
}
