body {
  font-size: 12px;
  // font-family: 'Roboto', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}

span + .icon,
.icon + span {
  margin-left: 7px;
}

.button-big {
  font-size: 1.2em;
  min-width: 120px;
  padding: 17px 35px;
}

.page-content {
  @extend .p20;
}

/* ------------------------------------------------

 LAYOUTS

------------------------------------------------ */
#root,
#app-container {
  min-height: 100vh;
}

#page-column-header {
  @extend .mb20;
}

#page-column-footer {
  @extend .mt20;
}

#page-main-column {
  flex: 1;
}

#page-aside-column:not(.col50) {
  flex: 0;
  min-width: 320px;
}

#page-aside-column legend {
  width: 100%;
}

#page-main-column + #page-aside-column {
  @extend .ml20;
}
