input,
select,
textarea,
.selectbox {
  border-radius: 0;
}

input,
textarea {
  font-size: 1.2em;
  padding: 9px 7px;
  border-width: 1px;
  border-style: solid;
}

input[type='number'] {
  width: 80px;
}

textarea {
  height: 2.4em;

  &.large {
    height: 6em;
  }
}

button {
  padding: 7px;
  border: none;
  border-radius: 2px;
}

button.big {
  font-size: 1.2em;
  min-width: 120px;
  padding: 17px 35px;
}

fieldset {
  position: relative;
  padding: 12px 12px 12px 12px;
}

form fieldset {
  padding-top: 36px;
}

legend {
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  position: absolute;
  font-weight: lighter;
  border-radius: 4px 4px 0 0;
}

// FIXME -> last-child
fieldset .submit-button {
  margin-bottom: 0;
}

fieldset label,
fieldset .as-form-label {
  @extend .flex-rows;
}

fieldset label span,
fieldset .as-form-label span {
  padding: 7px;
  font-weight: bold;
}

.selectbox {
  flex: 1;
  display: flex;
  padding: 0 7px;
  font-size: 1.2em;
  border-width: 1px;
  border-style: solid;
  height: calc(15px + 24px); // 24px = 2 * padding(12px)

  select,
  select option {
    width: 100%;
  }
}

.radio-group,
.checkbox-group {
  label {
    flex-direction: row;
  }

  label span {
    padding: 0 7px;
    font-weight: normal;
  }

  .as-form-label > span:not(.list) {
    flex-wrap: wrap;
  }
}

.form-input-help {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
  padding: 7px 0 7px 0;
}
