textarea,
input[type='text'] {
  font-size: 1.2em;
  padding: 12px 7px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);
}

textarea {
  height: 2.4em;

  &.large {
    height: 6em;
  }
}

button {
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

legend {
  padding: 5px 24px;
  font-weight: normal !important;
}

fieldset {
  padding: 12px;

  label {
    @extend .flex-rows;

    span {
      padding: 7px;
    }
  }
}

fieldset.inline label {
  @extend .flex-columns;

  span {
    @extend .aright;

    flex: 1;
    max-width: 150px;
  }

  input {
    flex: 2;
  }
}

.selectbox {
  flex: 1;
  display: flex;
  font-size: 1.2em;
  padding: 12px 7px;
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.2);

  select {
    width: 100%;
  }
}
