$markdownPreviewHeight: 180px;

input,
select,
textarea,
.selectbox {
  width: 100%;
  border-radius: 0;
}

input,
textarea {
  font-size: 1.2em;
  line-height: 1.2em;
}

input,
textarea,
.markdown-editor-preview {
  outline: none;
  padding: 9px 7px;
  border-width: 1px;
  border-style: solid;
}

.markdown-editor-preview {
  border-width: 0;
  line-height: inherit;
}

input[type='number'] {
  width: 80px;
}

textarea {
  width: 100%;
  height: 2.4em;

  &.large {
    height: 6em;
  }

  &.xlarge {
    resize: none;
  }
}

textarea.xlarge,
.markdown-editor-preview {
  height: $markdownPreviewHeight;
  min-height: $markdownPreviewHeight;
  max-height: $markdownPreviewHeight;
}

button {
  padding: 7px;
  border: none;
  border-radius: 2px;
}

button.big {
  font-size: 1.2em;
  min-width: 120px;
  padding: 17px 35px;
}

fieldset {
  position: relative;
  padding: 12px 12px 12px 12px;
}

form fieldset {
  padding-top: 36px;
}

legend {
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px;
  font-size: 1.1em;
  position: absolute;
  font-weight: lighter;
  border-radius: 4px 4px 0 0;
}

// FIXME -> last-child
fieldset .submit-button {
  margin-bottom: 0;
}

label span,
.as-form-label span {
  padding: 7px 0;
  font-weight: bold;
}

fieldset label,
fieldset .as-form-label {
  @extend .flex-rows;
}

.selectbox {
  flex: 1;
  display: flex;
  padding: 0 7px;
  font-size: 1.2em;
  border-width: 1px;
  border-style: solid;
  height: calc(15px + 24px); // 24px = 2 * padding(12px)

  select,
  select option {
    width: 100%;
  }
}

label.inline {
  width: 100%;

  span {
    @extend .pb7;

    display: block;
  }

  textarea,
  input[type='text'] {
    width: 100%;
    display: block;
  }
}

.radio-group {
  padding-left: 1px;
}

.radio-group,
.checkbox-group {
  label {
    flex-direction: row;
  }

  label span {
    padding: 0 7px;
    font-weight: normal;
  }

  .as-form-label > span:not(.list) {
    flex-wrap: wrap;
  }
}

.form-input-help {
  margin: 0;
  font-size: 0.8em;
  font-style: italic;
  padding: 7px 0 7px 0;
}

.situation-input {
  .picker-container {
    width: 106px;
  }
}

.markdown-editor {
  .markdown-editor-navs button {
    width: 100px;
    margin-left: 1px;
    border-radius: 2px 2px 0 0;
  }
}

fieldset .tagvalues,
fieldset .radio-group,
fieldset .checkbox-group {
  @extend .px12;
}
