.markdown-editor {
  .markdown-draft-toolbar {
    margin-bottom: 0;
    border-bottom: 0;
  }

  .markdown-draft-toolbar .rdw-dropdown-optionwrapper {
    max-height: 130px;
  }

  .markdown-draft-toolbar .rdw-option-wrapper {
    width: 30px;
    height: 30px;

    img {
      width: 12px;
      height: auto;
    }
  }

  .markdown-draft-editor {
    min-height: 137px;
    max-height: 137px;
    border-width: 1px;
    padding-left: 7px;
    padding-right: 7px;
    border-style: solid;
  }

  .markdown-editor-preview {
    border: 0;
    outline: none;
    line-height: inherit;
  }

  .markdown-editor-views button {
    width: 100px;
    margin-left: 1px;
    border-radius: 2px 2px 0 0;
  }
}
