/* -----------------------------------

 POPINS

----------------------------------- */

#edit-popin {
  @extend .p20;

  width: 80%;
}

#delete-popin {
  font-size: 1.3em;
  margin-top: 100px;
}

#delete-popin button {
  font-size: 1em;
}

#delete-popin button ~ button {
  @extend .ml20;
}
