/* -----------------------------------

 POPINS

----------------------------------- */

.popin {
  z-index: 9000;
}

.popin-container {
  width: 90%;
  height: 90%;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}

.popin-sidebar {
  width: 250px;
  min-width: 250px;
}

#delete-popin,
#situation-popin {
  width: 360px;
  height: auto;
  margin: auto;
  font-size: 1.3em;
  margin-top: 100px;
  border-radius: 2px;

  button {
    font-size: 1em;
  }

  button ~ button {
    @extend .ml20;
  }
}

#situation-popin {
  width: 600px;
}
