/* ---------------------
  color: #823B60
  color: #18154E
  color: #2BD1C0
  color: #353843
  color: #21242B
  color: #F8F8F8 // shape
  color: #EEEEEE // border
  color: #444444 // text1
  color: #666666 // text2
  color: #999999 // text3 | placeholder
  color: #CCCCCC // text4
  color: #EEEEEE // text5
--------------------- */
$white: #FFFFFF;

$dark: #353843;
$darkActive: #21242B;

$green: #89C541;
$greenActive: #68992A;

$gray: #EEEEEE;
$grayActive: #999999;

$grey: #CCCCCC;
$greyActive: #666666;

$blue: #5DAEF2;
$blueActive: #188FFF;

$red: #F56853;
$redActive: #F52833;

::placeholder {
  color: $grey;
}

body {
  font-size: 11px;
  background-color: $white;
  font-family: 'Open Sans', sans-serif;
}

/* ---------------------

 FORMS

--------------------- */

fieldset {
  background-color: #F8F8F8;
}

legend {
  color: $greyActive;
  background-color: $dark;
}

textarea,
input[type='text'] {
  background-color: $white;
  border-color: rgba(0, 0, 0, 0.2);
}

button {
  color: $white;
  transition: all 0.5s;
  background-color: $grey;

  &:disabled {
    color: $grayActive;
  }

  &:hover {
    background-color: $greyActive;
  }
}

button.primary:not(:disabled) {
  color: $white;
  background-color: $blue;

  &:hover {
    background-color: $blueActive;
  }
}

button.danger:not(:disabled) {
  color: $white;
  background-color: $red;

  &:hover {
    background-color: $redActive;
  }
}

button.super:not(:disabled) {
  color: $white;
  background-color: $green;

  &:hover {
    background-color: $greenActive;
  }
}

input:disabled,
button:disabled,
textarea:disabled {
  opacity: 0.5;
}

/* ---------------------

 TABLE

--------------------- */

thead {
  color: $grayActive;
  background-color: #F8F8F8;
}

tbody {
  color: #444444;
  background-color: $white;
}

tr:nth-child(even) {
  background-color: #F8F8F8;
}

thead tr:active {
  color: $white;
  background-color: $green;
}

th {
  border-right: 1px solid $gray;
  border-bottom: 1px solid $gray;
}

/* ---------------------

 CLASSES

--------------------- */
.selectbox {
  background-color: $white;
  border-color: rgba(0, 0, 0, 0.2);
}

.tagvalues {
  background-color: $white;
}

.tagvalues .tag {
  color: $greyActive;
  background-color: $grey;

  .icon {
    color: $gray;
  }

  &:hover {
    color: $white;
    background-color: $red;

    .icon {
      color: $white;
    }
  }
}

/* ---------------------

 LAYOUTS

--------------------- */

#application-header {
  color: $white;
  // stylelint-disable-next-line
  background-image: linear-gradient(
    312deg,
    #14134E 0%,
    #512D5A 68%,
    #843B61 100%
  );
}

#application-header .title small {
  color: #512D5A;
  background-color: $white;
}

#page-title {
  border-color: $gray;
}

#main-navigation {
  background-color: $dark;

  .link {
    color: $gray;
    transition: all 0.5s;
  }

  .link:hover {
    background-color: $darkActive;
  }

  .link.active {
    color: $grayActive;
    background-color: $white;
  }
}

#preloader {
  background-color: #843B61;

  .loading::before {
    background-color: $white;
  }
}
