#main-navigation {
  background-color: #000000;

  .link {
    color: #FFFFFF;
  }
}

/*
.default-theme {
  .nav {
    color: #363943
    color: #2BD1C0
    color: #EEEEEE
    // source sans pro
  }
}
#
*/
