@keyframes toasterin {
  0% {
    opacity: 0;
    margin-top: -10px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

#toasts-container {
  top: 12px;
  right: 12px;
  position: absolute;
}

#toasts-container .holder {
  position: relative;
}

#toasts-container .toast {
  opacity: 1;
  width: 200px;
  height: auto;
  padding: 12px;
  margin-top: 0;
  overflow: hidden;
  position: relative;
  line-height: 1.1em;
  border-radius: 4px;
  padding-right: 24px;
  margin-bottom: 12px;
  animation: 0.5s ease-out 0s 1 toasterin;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

#toasts-container .toast,
#toasts-container .toast * {
  user-select: none !important;
}

#toasts-container .toast-static {
  padding: 7px;
  font-size: 0.85em;
}

#toasts-container .toast-static span {
  display: block;
  text-align: center;
}

#toasts-container button {
  top: 3px;
  right: 3px;
  padding: 3px;
  position: absolute;
  background-color: transparent;
}
