body {
  overflow: hidden;
}

form {
  display: flex;
}

.shadowed {
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.25);
}

.assec-widget-popin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
  }

  .container {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    min-width: 180px;
    max-width: 500px;
    position: relative;
    border-radius: 4px;
  }

  .overlay,
  .container {
    opacity: 0;
    transition-duration: 1s;
    transition-property: opacity;
  }

  .navigation button {
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1);
  }
}

.haspopin .assec-widget-popin .overlay,
.haspopin .assec-widget-popin .container {
  opacity: 1;
}

#assec-widget {
  width: 100vw;
  height: 100vh;
  min-width: 200px;
  overflow: hidden;
  min-height: 350px;
  position: relative;
}

#assec-widget-summary {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

#assec-widget-navigation {
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  box-sizing: content-box;
}

#assec-widget-position {
  min-width: 60px;
  font-size: 0.8em;
  box-sizing: content-box;
}

#assec-widget-progressbar {
  height: 3px;
  width: 100%;

  .container {
    width: 100%;
    height: 3px;
    min-height: 3px;
  }

  .container > * {
    display: block;
  }

  .bar {
    background-color: #000000;
  }

  .thumb {
    background-color: #ACE539;
  }
}

#assec-widget-summary .question {
  .title {
    font-size: 1.2em;
  }
}

#assec-widget-survey {
  flex: 1;
  display: flex;
}
