form {
  width: 100%;
  height: 100%;
  display: block;
}

button.action {
  @extend .p20;
  @extend .clearfix;

  font-size: 1.1em;
  border-radius: 4px;

  .icon {
    float: left;
  }

  &.small {
    font-size: 0.7em;
  }

  &.next .icon {
    float: right;
  }
}

.input-type-list {
  width: 100%;

  label {
    width: 100%;
  }
}

.input-type-choice label {
  padding: 12px;
  display: block;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

/* ------------------------------------------------

 MAP INPUT

------------------------------------------------ */

.input-type-map {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;

  .popin .container {
    height: auto;
    margin-bottom: 40px;
    background: transparent;
  }

  .popin button.action {
    @extend .shadowed;
  }

  .leaflet-map {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
  }

  .leaflet-container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    cursor: default;
  }
}
