.progressbar,
.progressblocks {
  .bar {
    background-color: $grey;
  }

  .thumb {
    background-color: $blue;
  }
}

/*
button {
  background-color: $white;

  &.action {
    @extend .p20;
    @extend .shadowed;

    width: 170px;
    border-radius: 4px;
    transition: background-color 0.5s;
  }

  &.small {
    font-size: 0.7em;
  }

  &.next {
    color: $white;
    background-color: $blue-form;
  }

  &.disabled,
  &:disabled {
    box-shadow: none;
    background-color: $gray !important;
  }
}
*/

.note {
  color: $note-color;
  background-color: $note;
  border-color: $note-border;
}

/* ------------------------------------------------

 Popin

------------------------------------------------ */
.popin .container {
  background-color: $white;
}

.popin.dark,
.overlay.dark {
  background: rgba(0, 0, 0, 0.25);
}

.popin.light,
.overlay.light {
  background: rgba(255, 255, 255, 0.85);
}

.transparent,
.popin.transparent,
.overlay.transparent {
  background: transparent;
}

/* ------------------------------------------------

 MAP

------------------------------------------------ */

.leaflet-map-controls button {
  color: $blue;
  background-color: $white;
  transition-duration: 0.5s;
  transition-property: color, background-color;

  &.active {
    color: $white;
    background-color: $blue;
  }
}

.leaflet-marker-divicon-pin {
  background: $blue;
}

.leaflet-marker-divicon-pin::after {
  background: $white;
}

.leaflet-marker-divicon-pulse {
  background: rgba(0, 0, 0, 0.2);
}

.leaflet-marker-divicon-pulse::after {
  box-shadow: 0 0 1px 2px $blue;
}

/* ------------------------------------------------

 LAYOUT

------------------------------------------------ */

/*
#assec-widget-progressbar {
  .bar {
    background-color: $grey;
  }

  .thumb {
    background-color: $blue-form;
  }
}
*/
