// z-index des zones de la carte
// -> 1000
$zindex-popin: 9000;
$zindex-mapcontrols: 3000;
$zindex-mapmarker: 2000;

.popin {
  z-index: $zindex-popin;
}

// .tippy-popper {
//   z-index: 3000;
// }

.leaflet-map-controls {
  z-index: $zindex-mapcontrols;
}

// .tippy-tooltip [x-circle] {
//   z-index: -1;
// }

.leaflet-marker-divicon-pulse {
  z-index: $zindex-mapmarker;
}

//
// #assec-widget-summary {
//   z-index: 4000;
// }
